<div class="container">
  <div class="header">Pharmacies</div>
  <div class="container-two">
    <div class="map"><div id="map"></div></div>

    <div class="data">
      <div class="pharmacy-data">
        <div class="sub-left">
          <img src="./../../../assets/Logo_NavBar.png" class="icon">
        </div>

        <div class="sub-middle">
          <h3>Dummy Pharmacy</h3>
          <p>Dummy Address</p>
          <p>043-12345</p>
        </div>

        <div class="sub-right">
          <button class="edit"><i class="fa fa-edit"></i></button>
        </div>
      </div>
    </div>




    
  </div>
</div>
