


<div class="container">
  <div class="header">Pharmacies</div>


  <div class="top-nav">

    <div class="topnav">
      <div class="search-container">
        <input type="text" placeholder="Search.."/>
        <!-- [(ngModel)]="searchQuery" (input)="filterArchive()" -->

        <button id="searchButton">
          <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="container-two">
    <div class="map"><div id="map"></div>
    </div>

    <div class="data">
      <ng-container *ngFor="let pharmacy of pharmacies">
      <div *ngIf="pharmacy.user.accountVerified !== false" class="pharmacy-data">
        <div class="sub-left">
          <i class="fa-solid fa-house-medical"></i>
        </div>

        <div class="sub-middle">
          <h3>{{pharmacy.name}}</h3>
          <p>{{pharmacy.address}}</p>
          <p>{{pharmacy.contactNumber}}</p>
        </div>


        <div class="sub-right">
          <button class="archive" (click)="softDeletePharmacy(pharmacy)"><i class="fa-solid fa-box-archive"></i></button>
        </div>
      </div>
      </ng-container>
    </div>

  </div>





</div>
