
<div class="container">
  <fieldset>
    <legend><img src="./../../assets/MediSearch logo.png" id="logo" /></legend>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="email"
        formControlName="email"
        name="email_ad"
        placeholder="Email"
      />
      <br />
      <input
        type="password"
        formControlName="password"
        name="password"
        placeholder="Password"
      />
      <br />
      <a routerLink="/home/dashboard"
        ><button type="submit" id="loginButton">Login</button></a
      >
    </form>
  </fieldset>
</div>
