
<div class="container">
  <fieldset>
    <legend><img src="assets/MediSearch logo.png" id="logo" /></legend>
    <form [formGroup]="loginForm" (ngSubmit)="requestLogin()">
      <input
        type="email"
        formControlName="email"
        name="email"
        placeholder="Email"
      />
      <br />
      <input
        type="password"
        formControlName="password"
        name="password"
        placeholder="Password"
      />
      <br />
        <button type="submit" id="loginButton">Login</button>
    </form>
  </fieldset>
</div>
