<body>
  <div class="sideNav">
    <div class="container">
      <div class="sideLogos">
        <a
          routerLink="/home/dashboard"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa-solid fa-chart-line"></i></a
        ><br /><br />
        <a
          routerLink="/home/stores"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa-solid fa-map-location-dot"></i></a
        ><br /><br />
        <a
          routerLink="/home/users"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa-solid fa-address-book"></i></a
        ><br /><br />
        <a
          routerLink="/home/archive"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa-solid fa-box-archive"></i></a
        ><br /><br />
        <a
          routerLink="/home/settings"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa-solid fa-gear"></i></a>
      </div>
    </div>

    <br /><br />
    <div class="sideFooter">
      <a routerLink="/login">
        <button class="signOut"><i class="fa-solid fa-right-from-bracket"></i></button>
      </a>
    </div>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</body>
