<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<body>
  <div class="sideNav">
    <div class="container">
      <div class="sideLogos">
        <a
          routerLink="/home"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa fa-dashboard"></i></a
        ><br /><br />
        <a
          routerLink="/reception"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa fa-users"></i></a
        ><br /><br />
        <a
          routerLink="/stores"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa fa-map"></i></a
        ><br /><br />
        <a
          routerLink="/users"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa fa-line-chart"></i></a
        ><br /><br />
        <a
          routerLink="/settings"
          class="sideButtons"
          routerLinkActive="active"
          class="sideButtons"
          ><i class="fa fa-gears"></i
        ></a>
      </div>
    </div>

    <br /><br />
    <div class="sideFooter">
      <button class="signOut"><i class="fa fa-sign-out"></i></button>
    </div>
  </div>
</body>
