<div class="header">
  <div class="left"><h2>Edit Pharmacy</h2></div>
  <div class="right"><mat-dialog-actions><button mat-dialog-close class="close-button"><i class="fa-solid fa-circle-xmark"></i></button></mat-dialog-actions></div>
</div>
<mat-dialog-content>
  <form>
    <label for="pharmacyName">Pharmacy Name</label><br>
    <input type="text" name="pharmacyName" id="pharmacyName"><br>
    <label for="pharmacyName">Address</label><br>
    <input type="text" name="address" id="address"><br>
    <label for="pharmacyName">Contact Number</label><br>
    <input type="text" name="contactNumber" id="contactNumber"><br>
    <label for="pharmacyName">Password</label><br>
    <input type="password" name="password" id="password">

    <div class="footer">
      <button type="reset" class="reset">Reset</button>
      <button type="submit">Save</button>
    </div>

  </form>

</mat-dialog-content>


