<div class="container">
  <div class="summary">
    <div class="header">Archive</div>


    <div class="topnav">
      <div class="search-container">
        <input type="text" placeholder="Search.." [(ngModel)]="searchQuery" (input)="filterArchive()"/>

        <button id="searchButton">
          <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>

    <div class="content">
      <div class="archive-list-container">
        <table class="archive-list">
          <tr class="table-header">
            <th style="width:3.65%"><input type="checkbox" matTooltip="Select All" [checked]="selectAll" (click)="toggleSelectAll($event)" class="checkbox"></th>
            <th>User ID</th>
            <th>Pharmacy Name</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Date Archived</th>
          </tr>

        <ng-container *ngFor="let archive of filteredArchive">
          <tr class="table-content">
            <td><input type="checkbox" [checked]="archive.selected" (click)="toggleItemSelection(archive)" class="checkbox"></td>
            <td>{{archive.userID}}</td>
            <td>{{archive.pharmacyName}}</td>
            <td>{{archive.address}}</td>
            <td>{{archive.contactNo}}</td>
            <td>{{archive.dateArchived}}</td>
          </tr>
        </ng-container>

        </table>
      </div>
    </div>
    <div class="bottom">
      <button class="restore" matTooltip="Restore"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
      <button class="delete" matTooltip="Delete" (click)="permanentlyDelete()" id="deleteButton"><i class="fa-solid fa-trash-can"></i></button>
    </div>
  </div>
</div>
