

<div class="container">
    <div class="header">Validation</div>

    <div class="store-details-container">
      <ng-container *ngFor="let pharmacy of pending">
      <div *ngIf="pharmacy.user.accountVerified === false" class="store">

        <div class="details">
          <div class="left">
            {{pharmacy.name}}
          </div>
          <div class="right">
            {{pharmacy.user.createdAt | date}}
          </div>
        </div>

        <div class="view">
          <button id="confirm" (click)="openConfirm()"><i class="fa-regular fa-eye"></i></button>
        </div>
      </div>
      </ng-container>
    </div>


 </div>
