.container {
    background-color: #F8F8EC;
    border-style: hidden;
    width: 90%;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 53%;
    z-index: 9999;
    overflow: auto;
    color: black
}

.store  {
  height: 15vh;
  width: 90%;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0rem 0.0625rem 0.1875rem, rgba(0, 0, 0, 0.24) 0rem 0.0625rem 0.125rem;

}

#confirm  {
  color: #04AA6D;
  background-color: transparent;
  border-style: hidden;
  margin: 0 12% 0 12%;
  font-size: 2vw;
  transition: all 0.3s ease;
  opacity: 0.5
}

#confirm:hover  {
  opacity: 1;
}

.left, .right {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15vh;
  font-size: 2vw;
  color: #55665e;
}

.left {
  width: 60%;
  font-weight: 600;
}

.right  {
  width: 40%;
  font-weight: 100;
  opacity: 0.75;
}

.details  {
  width: 82.5%;
  height: 15vh;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

.view {
  width: 15%;
  height: 15vh;
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
    font-size: 4vw;
    border-style: hidden;
    font-weight: 700;
    width: 95%;
    padding: 1% 2%;
    color: #55665e;
  }

  * {
    border: hidden;
  }

  .store-details-container {
    width: 95%;
    margin: auto;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 1rem 3rem 0;
    height: 63vh;
  }


  button    {
    cursor: pointer;
  }


  .container::-webkit-scrollbar {
    width: 0.25rem;
    background-color: transparent;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: #C0C0C0;
    border-radius: 0.25rem;
  }

  .container::-webkit-scrollbar-thumb:hover {
    background-color: #A9A9A9;
  }
