<h2>Add Pharmacy

  <span>
    <button mat-button (click)="close()"><i class="fa-solid fa-circle-xmark"></i></button>
  </span>
</h2>

<mat-dialog-content>
  <label for="coordinates">Coordinates</label><br>
  <span class="coordinates">{{data.latlng}}</span>
  <label for="branchName">Branch Name</label><br>
  <input type="text" id="branchName"><br>
  <label for="address">Address</label><br>
  <input type="text" id="address"><br>
  <label for="">Contact No.</label><br>
  <input type="text"><br>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="submit">
    <button type="submit">Save</button>
  </div>
</mat-dialog-actions>
