<body>
  <div class="container">
    <div class="header">Activity</div>

    <div class="topnav">
      <div class="search-container">
        <input type="text" placeholder="Search.." />

        <button id="searchButton">
          <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>

    <div class="users-list-container">
      <table class="users-list">
        <tr class="table-header">
          <th>ID</th>
          <th>User</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
          <th>Description</th>

        </tr>

        <tr class="table-content">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</body>
