<body>
  <div class="container">
    <div class="header">Activity</div>
    
    <div class="topnav">
      <div class="search-container">
        <input type="text" placeholder="Search.." />

        <button id="searchButton">
          <i class="fa fa-search" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>
    
    <div class="users-list-container">
      <table class="users-list">
        <tr class="table-header">
          <th>ID</th>
          <th>User</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
          <th>Description</th>

        </tr>

        <tr class="table-content">
          <td>1234</td>
          <td>Geng Geng</td>
          <td>09/26/2023</td>
          <td>10:53 PM</td>
          <td>Gang Meetup</td>
          <td>May baril at puno ng pera ang bibig</td>
        </tr>
      </table>
    </div>
  </div>

</body>
